@import "tailwindcss";

body {
	font-family: "Inter", sans-serif;
}

.hide-scroll::-webkit-scrollbar {
	display: none;
}
.hide-scroll {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #2563eb;
	cursor: pointer;
	margin-top: -6px;
}
input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: #e5e7eb;
	border-radius: 2px;
}

/* Personalização do Accordion (Details/Summary) */
details > summary {
	list-style: none;
}
details > summary::-webkit-details-marker {
	display: none;
}

/* Remove setas do input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

/* Remover estilos padrões para aplicar personalizado*/
details > summary {
	list-style: none;
}
details > summary::-webkit-details-marker {
	display: none;
}

details[open] summary ~ * {
	animation: sweep 0.3s ease-in-out;
}

@keyframes sweep {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
