@import "tailwindcss";

body {
	font-family: "Inter", sans-serif;
}

.hide-scroll::-webkit-scrollbar {
	display: none;
}
.hide-scroll {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* Remove setas do input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

/* Animação suave para o ícone do Accordion */
details > summary {
	list-style: none;
}
details > summary::-webkit-details-marker {
	display: none;
}

details[open] summary ~ * {
	animation: sweep 0.3s ease-in-out;
}

@keyframes sweep {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
